<!-- Модальное окно -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="center-content">
                <h5 class="rating-title" id="eventModalLabel">Январский конкурс</h5>
                    <h5 class="thin-title" id="eventModalLabel">Результаты 3 классов</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-4 fw-bold">Название:</div>
                        <div class="col-8" id="modal-event-title"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 fw-bold">Дата:</div>
                        <div class="col-8" id="modal-event-date"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 fw-bold">Тип:</div>
                        <div class="col-8" id="modal-event-type"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 fw-bold">Классы:</div>
                        <div class="col-8" id="modal-event-classes"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 fw-bold">Статус:</div>
                        <div class="col-8" id="modal-event-status"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
